<form [formGroup]="logInForm" class="form-signin">
  <h1 class="h3 mb-3 font-weight-normal">Effettua il login</h1>
  <label for="username" class="sr-only">Username</label>
  <input type="text" id="username" class="form-control" placeholder="Username" required="" autofocus="" formControlName="username">
  <label for="psw" class="sr-only">Password</label>
  <input type="password" id="psw" class="form-control" placeholder="Password" required="" formControlName="password">

  <button (click)= logIn() class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
  <div *ngIf="messageLogin" class="card-body">
    <p class="mt-5 mb-3 text-muted">{{message}}</p>
  </div>
</form>


